<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="CrossBrowserTestExample">
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <!--<groups>-->
            <!--<run>-->
                <!--<include name="25"/>-->
                <!--&lt;!&ndash;<include name="login"/>&ndash;&gt;-->
            <!--</run>-->
        <!--</groups>-->
        <packages>
            <package name="com.telesens.automationpractice.*"/>
        </packages>
    </test>
    <!--<automationpractice name="ChromeTest">-->
        <!--<parameter name="browser" value="chrome"/>-->
        <!--<packages>-->
            <!--<package name="com.telesens.*"/>-->
        <!--</packages>-->
    <!--</automationpractice>-->
</suite>